<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Busmaker"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.naver.maps.map.NCP_KEY_ID"
            android:value="fqlpi3iqcm" />

        <activity
            android:name=".RouteMapActivity"
            android:exported="false" />
        <activity
            android:name=".RouteListActivity"
            android:exported="false" /> <!-- 앱 시작화면 지정: SearchActivity -->
        <activity
            android:name=".SearchActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Busmaker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 지도 등으로 쓸 MainActivity는 일반 Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>